body {
  margin: 0;
  font-family: "Inter", sans-serif, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-image: url("https://media.giphy.com/media/9bTjZrytydVRK/giphy.gif");
}
